.bubble {
  width: 100%;
  padding-top: 100%;
  border-radius: 5%;
  background-color: rgba(255,255,255,0.8);
  color: #F4586D;
  /*background: radial-gradient(at top left, #ffffff70, #ffffff90, #ffffff30, transparent, #ffffff20, #ffffff);*/
  position: relative;
  margin: 1em 0;
  box-shadow: 11px 11px 15px -1px rgba(0,0,0,0.47);
}
.bubble-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  text-align: center;
}

