.choose-sign, .date {
  text-align: center;
}
.choose-sign {
  font-size: 14pt;
}
label {
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  margin: 1em;
}
select {
  background-color: transparent;
  border-color: #fff;
  outline: #fff;
  color: #fff;
  padding: 5px;
}
option {
  background-color: #37476d;
  color: #fff;
  padding: 3px;
}
.tile {
  width: 100%;
  background-color: #ffffff15;
  margin: 1em 0;
  box-shadow: 0 5px 10px -1px rgba(0,0,0,0.2);
}
.tile-text {
  padding: 1em;
  text-align: center;
}
h5 {
  font-size: 16pt;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, transparent, #fff, transparent) 1;
}
h6 {
  font-size: 22pt;
  font-weight: bold;
  background: -webkit-linear-gradient(280deg, #ffb43f,#ffdda6 50%,#c57803 60%, #ffb43f 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-size: 18pt;
  margin: 2em auto;
}
img {
  width: 40%;
}

@media (max-width: 991.98px) { 
  .container {
    max-width: 900px;
  }
  h6 {
    font-size: 3vw;
  }
  p {
    font-size: 18pt;
  }
}

@media (max-width: 575.98px) {
  .choose-sign {
    font-size: 14pt;
  }
  h5 {
    font-size: 12pt;
  }
  h6 {
    font-size: 6vw;
  }
  p {
    font-size: 16pt;
  }
}