html {
  height: 100%;
}
body {
  height: 100%;
  background-image: linear-gradient(to top, #20273b 10%, #4b3759 30%, #814467, #b45462, #d57350);
  background-repeat:no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  align-items: center;
}
.header {
  background: -webkit-linear-gradient(#ffb43f,#ffdda6 50%,#da9734 60%, #ffb43f 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Abril Fatface', cursive;
  font-size: 36pt;
}
.footer {
  text-align: center;
  padding-bottom: 1em;
  color: #999;
}
.footer > a {
  color: #999;
  text-decoration: none;
}
.footer > a:hover {
  color: #d57350;
  transition: 1s;
}

@media (max-width: 575.98px) {
  .header {
    text-align: center;
    font-size: 28pt;
  }
}